backend/be2/__pycache__
frontend/fe1/package-lock.json
backend/auth-service/package-lock.json
backend/auth-service/.env
backend/eduprime-auth-service/.env
backend/eduprime-auth-service/package-lock.json
backend/be3/node_modules
frontend/fe3/node_modules/
frontend/fe6-activity/node_modules/
package-lock.json

dist
dist-ssr
backend/be4-vjbus/test.py

.env
backend/be1-complaints/.env
frontend/fe1-complaints/.env

# Ignore env files
.env
*.env
*/.env

# Explicitly ignore .env files with secrets
backend/be8-undoubt/.env
backend/be9-easyfind/.env
frontend/audi-booking/.env
frontend/fe4-vjbus/.env
frontend/fe8-undoubt/.env


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

_pychache_
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/be3-openhouse/uploads
frontend/fe4-vjbus/vj-bus-457010-4f72b43d1ed7.json
nginx.conf
backend/be4-vjbus/test.py
